<hr>
<div class="banner">
    It's David George's favorite game, but not on PowerPoint!
</div>
<div class="main-menu">
    <div class="columns-container">
        <div class="columns"></div>
    </div>
    <div class="buttons-container">
        <a routerLink="/join" class="button-wrapper">
            <div class="btn btn-main-page">Join Game</div>
        </a>
        <a routerLink="/create" class="button-wrapper">
            <div class="btn btn-main-page">Create Game</div>
        </a>
    </div>
    <div class="columns-container">
        <div class="columns" style="float:right;"></div>
    </div>
</div>
<div class="banner">
    <img id="qv-copyright" src="../../../assets/images/copyright.png">
    <p class="small-text">Copyright CommieCo&#8482; 2022</p>
</div>