<header class="global-header middle-align-header">
  <div class="logo-container">
    <a routerLink="/" class="logo">
      <img id="qv-logo" src="\assets\images\quovadis_small.png" alt="return to home">
    </a>
  </div>
  <div class="global-header-end">
    <div class="middle-buttons-wrapper">
      <div class="middle-buttons">
        <a class="btn">
          <span>How To Play</span>
        </a>
        <a class="btn">
          <span>Donate</span>
        </a>
      </div>
    </div>
    <div class="login-container">
      <div>TODO: Login</div>
      <div>TODO: Sign Up</div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
